*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #34495e;
}

span{
    text-align: center;
    font-size: 20px;
}

.calc{
    position: relative;
    display: grid;
}

.calc .value{
    grid-column:span 4;
    height: 100px;
    text-align: right;
    border: 3px solid rgba(123,31,162 ,0.9);
    outline: none;
    padding: 10px;
}

.calc span{
    height: 60px;
    width: 60px;
    color: #ffffff;
    background-color: #1976D2;
    border: 1px solid rgba(123,31,162 ,1);
    place-items: center;
}

.calc span:active{
    background-color: #212121;
    color: aqua;
}

.calc span.clear{
    grid-column: span 2;
    width: 120px;
    background: rgba(187,222,251 ,1);
}

.calc span.plus{
    grid-row: span 2;
    height: 120px;
}

.calc span.equal{
    background: rgba(239,83,80 ,1);
}